/node_modules
/public/hot
public/assets
public/photos
public/images
public/storage
public/exports
public/imports
/storage/*.key
/vendor
/reports
/vendor/**/.git
.idea/
.env
.env.testing
.env.backup
.editorconfig
.phpunit.result.cache
.php_cs.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea/
/.vscode/
/.env.production
/reports/
/public/css/
/public/js/
/public/vendor/
/laradock/
