.btn{
    transition: all 0.5s ease;
}

.btn-primary {
    background: $primary;

    &:hover {
        background: $secondary;
        color: $black;
    }
}

.btn-blue {
    background-color: dodgerblue;
    color: whitesmoke;
    top: 50%;
    bottom: 50%;
    &:hover {
        background: $white;
        color: dodgerblue;
    }
}

.btn-secondary {
    background: $white;
    color: black;

    &:hover {
        background: $primary;
        color: white;
    }
}

.nav-link{
    text-align: center;
    &:hover {
        background: $primary-end;
        color: white;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }
}

.fab {
    border-radius: 50%;
    position: relative;
    width: 50px;
    height: 50px;
    margin-bottom: -25px;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.validate {
    background: -webkit-gradient(to right, $gray-500 0%, $gray-900 50%, $black 100%);
    background: linear-gradient(to right, $gray-500 0%, $gray-900 50%, $black 100%);
    background-size: 500%;
    border: none;
    border-radius: 5rem;
    animation: gradient 1s 0.25s infinite;
}

@keyframes gradient {
0% {
    background-position: 0
}
100% {
    background-position: 100%
}
}

