.img-carousel {
    width: 80% !important;
}

.img-thumbnail{
    min-width: 100%;
    height: 300px;
    object-fit: cover;
}

.img-table-mini {
    width: 5rem;
    border-radius: 5px;
}

.img-hover-zoom {
    overflow: hidden; /* Removing this will break the effects */
}

.img-hover-zoom--point-zoom img {
    transform-origin: 65% 75%;
    transition: transform 1s, filter .5s ease-out;
}

.img-hover-zoom--point-zoom:hover img {
    transform: scale(2);
}

.img-hover-zoom img {
    transition: transform .5s ease;
}

.img-hover-zoom:hover img {
    transform: scale(1.5);
}

.img-hover-zoom--blur img {
    transition: transform 1s, filter 2s ease-in-out;
    filter: blur(2px);
    transform: scale(1.2);
}

.img-hover-zoom--blur:hover img {
    filter: blur(0);
    transform: scale(1);
}

.img-hover-zoom--colorize img {
    transition: transform .5s, filter 1.5s ease-in-out;
    filter: grayscale(100%);
}

.img-hover-zoom--colorize:hover img {
    filter: grayscale(0);
    transform: scale(1.1);
}

.img-category{
    object-fit: cover;
    height: 100% !important;
    border: 1px solid #ccc;
    transition: box-shadow .3s;
    transition: transform .2s;
    border-radius:10px;
    &:hover {
        position: relative;
        cursor: pointer;
        z-index: 1;
        box-shadow: 0 0 21px rgba(33,33,33,.2);
        transform: scale(1.01);
    }
}

.img-item-list {
    width: 100%;
}

.img-detail-admin {
    height: 100%;
    object-fit: cover;
}

.ofert-title {
    position: absolute;
    text-align: center;
    width: 40%;
    background: repeating-linear-gradient(90deg,$transparent,$primary,$transparent );
    color: white;
    bottom: 12%;
    z-index: 100;
    right: 0rem;
    font-family: fantasy;
    font-weight: bold;
    font-size: large;
    transform: rotate(-45deg);
}

@media (max-width: $breakpoint-phone) {
    .img-carousel {
        width: 100% !important;
    }
}
