.bg-green {
    background: green;
    font: icon;
    color: whitesmoke;
}

.bg-white {
    background-color: white;
    font: icon;
}

.bg-silver {
    background: silver;
    font: icon;
}

.bg-gray {
    background: gray;
    font: icon;
}

.bg-black {
    background: black;
    font: icon;
    color: whitesmoke;
}

.bg-red {
    background: red;
    font: icon;
    color: whitesmoke;
}

.bg-maroon {
    background: maroon;
    font: icon;
    color: whitesmoke;
}

.bg-yellow {
    background: yellow;
    font: icon;
}

.bg-lime {
    background: lime;
    font: icon;
}

.bg-aqua {
    background: aqua;
    font: icon;
}

.bg-blue {
    background: blue;
    font: icon;
    color: whitesmoke;
}

.bg-fuchsia {
    background: fuchsia;
    color: whitesmoke;
    font: icon;
}

.bg-purple {
    background: purple;
    font: icon;
    color: whitesmoke;
}

.bg-pink {
    background: pink;
    font: icon;
}
